target/
!.mvn/wrapper/maven-wrapper.jar

docker/target/
docker/*.yml
docker/*.xml
docker/*.jar

.classpath
.factorypath
.project
.settings
.springBeans

.idea
*.iws
*.iml
*.ipr

nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

Application/